<form
  action="mailto:{{ $.Site.Author.email }}?subject=RE:{{ $.Page.RelPermalink }}"
  method="post"
  name="comment_form">
  <label for="name">{{ i18n "hyperskip-name" }}</label><br/>
  <input type="text" id="name" name="name" maxlength="20"
         placeholder="{{ i18n "hyperskip-name-default" }}"/>
  <br/><br/>
  <label for="comment">{{ i18n "hyperskip-comment" }}</label><br/>
  <textarea required
            id="comment"
            name="comment"
            rows="8"
            minlength="3"
            placeholder="{{ i18n "hyperskip-requirement"}}"></textarea>
  <br/><br/>
  <input type="submit" value="{{ i18n "hyperskip-submit"}}">
</form>
