<form action="mailto:{{ $.Site.Author.email | replaceRE "@" "%40" }}?subject=RE:{{ $.Page.RelPermalink }}"
      method="post"
      name="comment_form">
  <p><label for="name">{{ i18n "hyperskip-name" }}</label><br/>
    <input type="text" id="name" name="name" maxlength="20"
           placeholder="{{ i18n "hyperskip-name-default" }}"/></p>
  <p><label for="comment">{{ i18n "hyperskip-comment" }}</label><br/>
    <textarea required
              id="comment"
              name="comment"
              rows="8"
              minlength="3"
              placeholder="{{ i18n "hyperskip-requirement"}}"></textarea></p>
  <p><input type="submit" value="{{ i18n "hyperskip-submit"}}"></p>
</form>
<script>
  function reply(hash) {
      document.forms.comment_form.comment.value += "[>>" + hash + "](#" + hash + ")\n";
  }
</script>
