{{ $comments := "" }}
{{ with .Site.Data.comments.comments }}
{{ $comments = sort (where . "uri" $.Page.RelPermalink) "time" }}
{{ end }}
{{ with $comments }}
{{ range . }}
{{ $timestamp := .time.Format "2006-01-02T15:04:05-07:00" }}
{{ $hash := print .name $timestamp | md5 | last 7 }}
<article id="{{ $hash }}">
  <header>
    <h3>{{ or .name (i18n "hyperskip-name-default") }}&nbsp;
      {{- if (strings.HasSuffix ($.Site.Author.email | sha256) .email_hash) -}}
      ✦
      {{- else -}}
      <code>{{ .email_hash | last 4 }}</code>
      {{- end -}}
    </h3>
    <nav>
      {{- .time.Format "2006-01-02" -}}
      &nbsp;|&nbsp;<a href="#{{ $hash }}">#
        {{- $hash -}}
      </a>&nbsp;|&nbsp;<a href="#comment" onclick="reply({{ $hash }})">
        {{- i18n "hyperskip-reply" -}}
      </a>
    </nav>
  </header>
  {{ .content | htmlEscape | markdownify }}
</article>
{{ end }}
<script>
  function reply(hash) {
      document.forms.comment_form.comment.value += "[>>" + hash + "](#" + hash + ")\n";
  }
</script>
{{ else }}
<p>{{ i18n "hyperskip-placeholder" }}</p>
{{ end }}
