{{ $comments := "" }}
{{ with $.Site.Data.comments.comments }}
{{ $comments = sort (where . "uri" $.Page.RelPermalink) "time" }}
{{ end }}
{{ with $comments }}
{{ range . }}
{{ $timestamp := .time.Format "2006-01-02T15:04:05-07:00" }}
{{ $hash := print .name $timestamp | md5 | last 7 }}
<article id="{{ $hash }}">
  <header>
    <a href="#{{ $hash }}">{{ $timestamp }}</a>&nbsp;|&nbsp;#{{ $hash }}
    {{ if not ($.Scratch.Get "is_feed") }}
    <span style="float:right">
      <a href="#comment" onclick="reply({{ $hash }})">{{- i18n "hyperskip-reply" -}}</a>
    </span>
    {{ end }}
    <br/>
    <b>{{- or .name (i18n "hyperskip-name-default") }}</b>&nbsp;
    {{- if (strings.HasSuffix ($.Site.Author.email | sha256) .email_hash) -}}
    ✦{{ else }}<code>{{ .email_hash | last 4 }}</code>
    {{- end -}}
  </header>
  {{- with (.content | markdownify ) }}
  {{ if not ( findRE "<[h|p][^>]*>" . ) }}<p>{{ . }}</p>{{ else }}{{ . }}{{ end }}
  {{ end -}}
</article>
{{ end }}
{{ else }}
<p>{{ i18n "hyperskip-placeholder" }}</p>
{{ end }}
